<h1>Leave a Review</h1>
<div class="card">
<div class="form-group">
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
</div>
<button type="button" class="btn btn-outline-danger">Submit</button>
</div>
</div>
<script src="/public/assets/js/review.js"></script>