<div class="form4 top">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <div class="form-bg">
          <form class="form">
            <h1 class="reviewText"> Leave a Review!</h1>
            <div class="form-group"> <input type="text" class="form-control"
                required="" id="nameNine" placeholder="Title"> </div>
            <div class="form-group"> <textarea class="form-control" required=""
                rows="7" id="messageNine" placeholder="Write message"></textarea> </div>
            <button type="submit" class="btn text-center btn-blue">Send Review</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>