<div class="container">
  <div class="container mt-4">
    <div class="col">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9">
          <div class="reviewCard p-2 mt-2">
            <h3 class="heading text-center">Search a Restaurant</h3>
            <div class="d-flex justify-content-center">
              <div class="search"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#"
                  class="search-icon"> <i class="fa fa-search"></i> </a> </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form4 top">
        <div class="form-bg">
          <form class="form">
            <h2 class="reviewText"> Is this Restaurant COVID Friendly? </h2>
            <h2 class="reviewText"> Leave a Review!</h2>
            <div class="form-group"> <input type="text" class="form-control" required="" id="nameNine"
                placeholder="Title"> </div>
            <div class="form-group"> <textarea class="form-control" required="" rows="7" id="messageNine"
                placeholder="Write message"></textarea> </div>
            <button type="submit" class="btn text-center btn-blue" id="create-review">Send Review</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form4 top">
        <div class="form-bg">
          <form class="form">
            <div class="card-body">
              {{!-- <h3 class="card-title reviewText">Title</h3> --}}
              <ul class="reviewTitle">
                {{#each title}}
                <li>{{this}}</li>
                {{/each}}
              </ul>

              {{!-- <p class="card-text bodyText">wow would you look at that woo</p> --}}
              <ul class="bodyText">
                {{#each body}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/foodReview.js"></script>