
<div class="card bg-dark text-white">
<div class="form-group">
  <h1>Leave a Review</h1>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
</div>
<div class="container">
  <span id="rateMe3"  class="rating-faces"></span>
</div>
<button type="button" class="btn btn-outline-danger">Submit</button>
</div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/public/assets/js/review.js"></script>

