<div class="animate__animated animate__fadeInDownBig">
	<div class="d-flex justify-content-center h-100">
		<div class="card" id="signupCard">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="username">
						
					</div>
					<br>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password">
					</div>
					<br>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn" id="loginButton">
					</div>
				</form>
				<br />
        <p>Or Login <a href="/">here</a></p>
			</div>
		</div>
	</div>
</div>  
  
  
  {{!-- <div class="animate__animated animate__fadeInDownBig">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-5" class="card" id="signupCard">
        <h2>Sign Up!</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/">here</a></p>
      </div>
    <div class="col"></div>
  </div>
</div>

