body {
    background-image: url(/images/backgroundimage.jpg) ;
    padding-bottom: 30px;
}
#signupCard {
    
    border-radius: 25px;
    background: url(paper.gif);
      
}

.title {
    font-family: sans-serif;
    text-shadow: 0 0 2px black;
  }