body {
  background: url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: bold !important;
  font-size: 30px !important;
}
#signupCard {
  width: 400px;
  height: 370px;
  background-color: rgba(10, 10, 10, 0.3);
  padding: 10px;
  
}

#signupCard:hover {
  width: 350px;
  height: 350px;
  transform: rotate(360deg);
}

#onlyNavbar {
  background-color: "transparent";
  font-size: 10px;
  font-weight: 900;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: 50px;
  margin-bottom:auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  /* transition: width 2s, height 2s, transform 2s; */
  padding-top: 20px;
  color: white;
}
.card:hover {
  width: 400px;
  height: 370px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}