<li>
    {{this.title}}
    <br>
    <div class="bodyText">{{this.body}}</div>  
    <button class="editReview" data-id="{{this.id}}"><i class="fa fa-edit"></i></button>
    <button class="deleteReview" data-id="{{this.id}}"><i class="fa fa-trash"></i></button>
    
</li>