<div class="form-group">
    <input type="text" class="review-text">
        {{this.body}}
       </input> 
       <button class="save-review" data-id="{{this.id}}"><i class="fa fa-save"></i></button>
</div>